* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.7em;
  color: #7f8c8d;
  font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #34495e;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

.l-box {
  padding: 1em;
}

.l-box-lrg {
  padding: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.is-center {
  text-align: center;
}

.pure-form label {
  margin: 1em 0 0;
  font-weight: bold;
  font-size: 100%;
}

.pure-form input[type] {
  border: 2px solid #ddd;
  box-shadow: none;
  font-size: 100%;
  width: 100%;
  margin-bottom: 1em;
}

.pure-button {
  background-color: #1f8dd6;
  color: white;
  padding: 0.5em 2em;
  border-radius: 5px;
}

a.pure-button-primary {
  background: white;
  color: #1f8dd6;
  border-radius: 5px;
  font-size: 120%;
}

.home-menu {
  padding: 0.5em;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

}
.home-menu {
  background: #af4e2e;

}
.pure-menu.pure-menu-fixed {
  border-bottom: none;
  z-index: 4;

}

.home-menu .pure-menu-heading {
  color: white;
  font-weight: 400;
  font-size: 120%;
  font-family: Chocolate;
}

.home-menu .pure-menu-selected a {
  color: white !important;
}

.home-menu a {
  color: #fff;
}
.home-menu li a:hover,
.home-menu li a:focus {
  background: #af4e2e;
  border: none;
  color: #aecfe5;
}

.splash-container {
  background-image: url('../../img/background-site-2.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed !important;
}

.splash {
  width: 80%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: 3px solid white;
  padding: 1em 1.6em;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
  text-shadow: 2px 3px 5px black;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
  color: white;
  letter-spacing: 0.05em;
  opacity: 0.8;
  text-shadow: 2px 3px 5px black;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
  /* These styles are required for the "scroll-over" effect */
  position: absolute;
  top: 87%;
  width: 100%;
  min-height: 12%;
  z-index: 2;
  background: white;
}

/* We want to give the content area some more padding */
.content {
  padding: 1em 1em 3em;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
  color: white;
}

.content-subhead {
  color: #1f8dd6;
}
.content-subhead i {
  margin-right: 7px;
}

.ribbon {
  background: #2d3e50;
  color: #aaa;
}

.footer {
  background: #111;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (min-width: 48em) {
  body {
    font-size: 16px;
  }

  .home-menu {
    text-align: left;
    background: #742006;
  }
  .home-menu ul {
    float: right;
  }

  .splash {
    width: 50%;
    height: 50%;
  }

  .splash-head {
    font-size: 250%;
  }

  .l-box-lrg {
    border: none;
  }
}

@media (min-width: 78em) {
  .splash-head {
    font-size: 300%;
  }
}
